if test -z "$DISPLAY" && test (tty) = "/dev/tty1"
  # pgrep limited to 15 chars, so truncate `daemon`
  # https://gist.github.com/kppullin/93ecf587d91b40f30ca0f1f374fbc6ee
  pgrep gnome-keyring-d > /dev/null

  if test $status -eq 1
    gnome-keyring-daemon | read --line gnome_keyring_control ssh_auth_sock

    set -Ux GNOME_KEYRING_CONTROL (string split -m 1 = $gnome_keyring_control)[2]
    set -Ux SSH_AUTH_SOCK (string split -m 1 = $ssh_auth_sock)[2]
  end

  set -x MOZ_ENABLE_WAYLAND 1
  set -x QT_QPA_PLATFORM wayland

  exec dbus-run-session sway --unsupported-gpu
end
